*{
    padding: 0;
    margin: 0;
}
#redes{
    max-width: 55px;
}
a#floatingButton > img{
    margin: 15px;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 9;
    bottom: 30px;
    right: 30px;
    
}

/* HEADER */
header{
    height: 100vh;
    background-image: url(../image/editorVideo.gif);
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: overlay;
    background-position: center 0;
}
header h1{
    margin-left: 15px ;
    color: #11B8AC;
}
header h2, main h3, p, li{
    margin-left: 15px ;
    color: white;
} 

/* NAV */
nav.w-100{
    position: sticky;
    top: 0;
    z-index: 100;
}
/* MAIN*/
main{
    background-color: black;
}
main section{
    text-align: center;
    padding-top: 15vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section div{
    margin-bottom: 3vh;
}
main section div div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section div video, main div video{
    width: 300px;
}

section#aboutMe{
    text-align: center;
    font-size: 14px;
}
section#aboutMe h3{
    color: #11B8AC;
}
section#aboutMe b{
    color: #11B8AC;
}


section#portfolio h3, section#portfolio div div p b, div#gallery h2{
 color: #c4fe3c;
}
section#portfolio div button{
    background-color: black;
    box-shadow:0 0 10px 5px  rgba(196, 254, 62, 0.8);
    border: #c4fe3c solid 1px;
}
section#portfolio div button a{
    padding: 2px;
    color: #c4fe3c;
    text-decoration: none;
}
section#portfolio div button:hover, section#portfolio div button a:hover{
    background-color: #c4fe3c;
    color: black;
    text-decoration: none;
}

section#sendEmail {
    margin-bottom: 30px;
}
section#sendEmail div#sendEmails, div#sendEmails form button{
    box-shadow: 0 0 10px 5px  rgba(48, 46, 199,0.8) ;
}
section#sendEmail form input{
    color: white;
    border: none;
}
section#sendEmail div#sendEmails form button{
    border: none;
    background-color: black;
    color: #302DC7;
}
section#sendEmail div#sendEmails form button:hover{
    background-color: #302DC7;
    color: black;
}
section#sendEmail div h3{
    color: #302DC7;
} 

/* FOOTER */
footer{
    padding: 10px;
    background-image: url(../image/cut-unwanted-pieces.gif);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    background-position: center 0;
    display: flex;
    justify-content: center;
}
footer div h3{
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}
footer a img{
    width: 60px;
}

/* GALLERY */
main div#gallery{
    display: flex;
    flex-direction: column;
    
}
main div#gallery div#videoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 767px) {
    main div#gallery div#videoContainer { 
        width: 80vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    header, footer{
        background-size: cover;
        background-position: center 0;
    }
    header h1{
        font-size: 70px;
    }
    header h2{
        font-size: 35px;
    }
    div.collapse{
        display: flex;
        justify-content: flex-end;
    }
    nav.w-100 div a{
        font-size: 25px;
    }
    a#aNavbar{
        font-size: 20px;
    }
    section h3, footer div h3{
        font-size: 33px;
    }
    section div h4{
        font-size: 30px;
    }
    p{
        font-size: 24px;
    }

    section#portfolio div{
        margin: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    section#portfolio div.secondReference{
        flex-direction: row-reverse;
    }
    section#portfolio div div{
        flex-direction: column;
        margin: 20px;
    }
    section#portfolio button{
        font-size: 24px;
    }
    section#sendEmail form {
        width: 50vw;
    }
    section#sendEmail form input, section#sendEmail form button{
        font-size: 20px;
        width: 80%;
    }
    footer div#contacto div.redes a img{
        width: 90px;
    }

}

@media screen and (min-width: 1440px) {
    header h1{
        font-size: 80px;
    }
    header h2{
        font-size: 45px;
    }
    nav.w-100 div a{
        font-size: 30px;
    }
    a#aNavbar{
        font-size: 25px;
    }
    section h3, footer div h3{
        font-size: 40px;
    }
    section div h4{
        font-size: 32px;
    }
    p{
        font-size: 27px;
    }
/* 
    section#portfolio div{
        margin: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
    } 
    section#portfolio div.secondReference{
        flex-direction: row-reverse;
    }
    section#portfolio div div{
        flex-direction: column;
        margin: 20px;
    }
    */
    section#portfolio button{
        font-size: 30px;
    }

/*     section#sendEmail form {
        width: 50vw;
    } */
    section#sendEmail form input, section#sendEmail form button{
        font-size: 24px;
        /* width: 80%; */
    }
    footer div#contacto div.redes a img{
        width: 100px;
    }

}